.carousel_inner {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  max-height: 100vh;
  position: relative; // this is important
  overflow-x: hidden;

  // --------------- Start of Navigation -------------------//

  &__navigation {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; // this is important
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding: 2em;

    .nav_item {
      width: 50px;
      height: 8px;
      background-color: rgba($color: #000000, $alpha: 0.6);
      border-radius: 20px;
      cursor: pointer;
    }

    .nav_item.active {
      background-color: white;
    }
  }
  // --------------- End of Navigation -------------------//

  &__item {
    position: relative;
    img {
      height: 100%;
      min-width: 100vw;
      width: 100%;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }

    .carousel__item_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      backdrop-filter: blur(15px) contrast(0.8);
      padding: 3em 4em;
      color: white;
      border-radius: 10px;
      text-align: center;
    }
  }
}
