.carousel_inner {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  max-height: 100vh;

  &__item {
    position: relative;
    img {
      height: 100%;
      min-width: 100vw;
      width: 100%;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }

    .carousel__item_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
